html
  head
    meta(charset='utf-8')
    title=title
    link(rel="stylesheet", href=css)
  body
    nav.navbar.navbar-default.d-flex
    .container
      .row
        each item in lst
          .card.col-sm-12.col-md-6.col-lg-4
            .card-img-top
              img(src=item.img)
            .card-body
              .card-title=item.title
              .card-text=item.desc
              .card-footer.textmuted=item.cred
    script(src=js)